<body>
    <br>

    <!-- <h2><a href="/management">活動管理</a> > <a href="/viewitem">First Event</a> > <a href="/individual">個人義工</a> > 建立個人義工
    </h2> -->

    <div class="bordered2">
        <h1>個人資料</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/management">活動管理</a></li>
                <li class="breadcrumb-item"><a href="/viewitem/<%= eventid %>"><%= name %></a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="/individual/<%= eventid %>">個人義工</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">新增個人義工</li>
            </ol>
        </nav>
    </div>

    <br>
    <br>

    <form action="/volunteer/individual" method="POST">

        <div class="form-group row">
            <label for="inputUsername" class="col-sm-2 col-form-label">義工名稱</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="station[vName]" name="Volunteer[vName]" required>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputContact" class="col-sm-2 col-form-label">聯絡電話</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="station[vContact]" name="Volunteer[vContact]" required>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputLocation" class="col-sm-2 col-form-label">所屬旗站</label>
            <div class="col-sm-10">
                <select class="form-control" name="Station[sName]" required>
                    <option value="">請選擇所屬旗站：</option>
                    <% stations.forEach( function(model) { %>
                    <option value="<%= model.sName %>"><%= model.sName %></option>
                    <% }); %>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2">所屬團體</label>
            <div class="col-sm-10">
                <select class="form-control" name="Volunteer[vGroupName]" required>
                    <option value="">請選擇所屬團體：</option>
                    <!-- <% stations.forEach( function(model) { %>
                    <% if(model.vGroupName  != "") { %>
                        <option value="<%= model.vGroupName %>"><%= model.vGroupName %></option>
                    <% } %>
                    <% }); %> -->
                    <option value="">個人</option>
                    <% groups.forEach( function(model) { %>

                    <option value="<%= model.vGroupName %>"><%= model.vGroupName %></option>

                    <% }); %>
                </select>
            </div>
        </div>


        <button type="submit" class="btn btn-success" style="float:right;">儲存</button>

        <a href='/individual/<%= eventid %> ' class="btn btn-danger" style="float:right;">取消</a>

    </form>

</body>

<style>
    .bordered2 {
        padding: 15px;
        padding-bottom: 1px;
        border: 1px solid gainsboro;
        border-radius: 5px;
    }
</style>

<!-- <script>

    //  let output = document.querySelector("p");

    function getRandomNumber(min, max) {
        let step1 = max - min + 1;
        let step2 = Math.random() * step1;
        let result = Math.floor(step2) + min;
        console.log("pass");
        if (qrNo.length > 0) {
            compareBagNumber(qrNo, numbersArray, result);
        }

        return result;
    }

    function compareBagNumber(qrNo, numbersArray, result) {
        console.log("pass1");
        if (qrNo.length > 0) {
            console.log("pass2");
            for (let i = 0; i < qrNo.length; i++) {
                for (let j = 0; j < numbersArray.length; j++) {
                    if (qrNo[i].bagNumber.localCompare(numbersArray[j].toString()) == 0) {
                        const index = numbersArray.indexOf(numbersArray[j]);
                        if (index > -1) {
                            numbersArray.splice(index, 1);
                            result = getRandomNumber(0, numbersArray.length - 1);
                            return result;
                        }
                    }
                }
            }
        } else {
            return result;
        }
    }

    function createArrayOfNumbers(start, end) {
        let myArray = [];

        for (let i = start; i <= end; i++) {
            myArray.push(i);
        }
        return myArray;
    }

    let numbersArray = createArrayOfNumbers(1, 20);

    document.getElementById("generate").addEventListener('click', () => {

        if (numbersArray.length == 0) {
            document.querySelector("p").innerText = "No more Random number";
            document.getElementById("generate").disabled = true;
            return;
        }

        let randomIndex = getRandomNumber(0, numbersArray.length - 1);
        let randomNumber = numbersArray[randomIndex];
        numbersArray.splice(randomIndex, 1);

        document.querySelector("p").innerText = randomNumber;
        document.getElementById("generate").disabled = true;
    });

</script> -->