<title><%= name %> - 團體義工詳細資料</title>

<body>

    <div class="bordered2">
        <h1>團體義工</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/management">活動管理</a></li>
                <li class="breadcrumb-item active"><a href="/viewitem/<%= eventid %>"><%= name %></a></li>
                <li class="breadcrumb-item active"><a href="/group/<%= eventid %>">團體義工</a></li>
                <li class="breadcrumb-item active" aria-current="page">團體義工詳細資料</li>
            </ol>
        </nav>
    </div>

    <br>

    <div>
        <div class="row">
            <div class="col col-sm-2 col-md-2">

                <div class="btn-group-vertical" role="group" aria-label="Basic example">
                    <a href="/viewitem/<%= eventid %>" class="btn btn-info" role="button">活動摘要</a>
                    <a href="/stationmgrDisplay/<%= eventid %>" class="btn btn-info" role="button">旗站管理員</a>
                    <a href="/station/<%= eventid %>" class="btn btn-info" role="button">旗站</a>
                    <a href="/individual/<%= eventid %>" class="btn btn-info" role="button">個人義工</a>
                    <a href="/group/<%= eventid %>" class="btn btn-info" role="button">團體義工</a>
                </div>

            </div>
            <div class="col col-sm-10 col-md-10">
                <table class="table table-bordered">

                    <div class="row">
                        <div class="col-sm-10 col-md-10">
                            <h2>團體詳細資料</h2>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <a href="/updateGroup/<%= group.id %>" class="btn btn-primary"
                                style="float: right;">編輯團體</a>
                        </div>
                    </div>

                    <tbody>
                        <tr>
                            <th scope="row">團體名稱</th>
                            <td><%= group.vGroupName %></td>
                        </tr>
                        <tr>
                            <th scope="row">團體地址
                            </th>
                            <td><%= group.vGroupAddress %></td>
                        </tr>
                        <tr>
                            <th scope="row">團體義工總人數
                            </th>
                            <td><%= group.totalGroupNumber %></td>
                        </tr>

                        <!-- <tr>
                            <th scope="row">所屬旗站</th>
                            <td><%= station.within.length == "" ? '---' : station.within[0].sName %></td>
                        </tr> -->
                        <tr>
                            <th scope="row">負責人名稱 </th>
                            <td><%= group.vContacter %></td>
                        </tr>
                        <tr>
                            <th scope="row">聯絡電話</h>
                            <td><%= group.vContact %></td>
                        </tr>

                    </tbody>
                </table>

                <br>
                <!-- Another Table -->

                <% if (volunteerList.length > 0 ) { %>
                <form action="/printGroupQR/<%= inGroup %>" method="POST" target="_blank">
                    <div class="row">
                        <div class="col-sm-10 col-md-10">
                            <h2>義工列表</h2>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <button type="submit" target="_blank" class="btn btn-success">列印選擇項目</button>
                        </div>
                    </div>

                    <table class="table table-bordered">

                        <thead>
                            <tr>
                                <th scope="col">
                                    <div class="form-check">
                                        <input type="checkbox" onclick="check_all(this,'c')">
                                    </div>
                                </th>
                                <th scope="col">義工姓名</th>
                                <th scope="row">所屬旗站</th>
                                <th scope="col">旗袋編號</th>
                                <th scope="col">旗袋狀態</th>
                                <th scope="col">更多</th>
                            </tr>
                        </thead>
                        <tbody>

                            <% volunteerList.forEach( function(model) { %>
                            <tr>
                                <th scope="row">
                                    <div class="form-check">
                                        <input type="checkbox" class="checks" name="c" value="<%= model.id %>">
                                    </div>
                                </th>
                                <td><%= model.vName %></td>
                                <td><%= model.within.length > 0 ? model.within[0].sName : '---'  %></td>
                                <td><%= model.assignTo[0].bagNumber == "" ? '---' : model.assignTo[0].bagNumber %></td>
                                <td><%= model.assignTo[0].bagStatus %></td>
                                <td>
                                    <a href='/updateGroupVolunteer/<%= model.id %>' class="btn btn-primary">編輯</a>
                                </td>

                                <% }); %>
                            </tr>

                        </tbody>
                    </table>
                </form>

                <% } else { %>

                <h2>義工列表</h2>
                <p>---</p>

                <% } %>

            </div>
        </div>
    </div>

</body>

<style>
    .bordered2 {
        padding: 15px;
        padding-bottom: 1px;
        border: 1px solid gainsboro;
        border-radius: 5px;
    }
</style>

<script>

    function check_all(obj, cName) {
        var checkboxs = document.getElementsByName(cName);
        for (var i = 0; i < checkboxs.length; i++) { checkboxs[i].checked = obj.checked; }
    }
</script>