<body>

  <div class="bordered2">
    <h1>個人義工</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/management">活動管理</a></li>
        <li class="breadcrumb-item"><a href="/viewitem/<%= eventid %>"><%= eventname %></a></li>
        <li class="breadcrumb-item"><a href="/individual/<%= eventid %>">個人義工</a></li>
        <li class="breadcrumb-item active" aria-current="page">個人義工詳細資料</li>
      </ol>
    </nav>
  </div>

  <br>

  <div class="row">

    <div class="col col-sm-2 col-md-2">

      <div class="btn-group-vertical" role="group" aria-label="Basic example">
        <a href="/viewitem/<%= eventid %>" class="btn btn-info" role="button">活動摘要</a>
        <a href="/stationmgrDisplay/<%= eventid %>" class="btn btn-info" role="button">旗站管理員</a>
        <a href="/individual/<%= eventid %>" class="btn btn-info" role="button">個人義工</a>
        <a href="/group/<%= eventid %>" class="btn btn-info" role="button">團體義工</a>
        <a href="/station/<%= eventid %>" class="btn btn-info" role="button">旗站</a>
        <!-- <a href="/eventreport" class="btn btn-info" role="button">活動報告</a> -->
        <a href="/qrCode" class="btn btn-info" role="button">QR Code</a>
      </div>

    </div>

    <div class="col col-sm-10 col-md-10">

      <table class="table table-bordered">

        <div class="row">
          <div class="col-sm-10 col-md-10">
            <h2>個人義工詳細資料</h2>
          </div>
          <div class="col-sm-2 col-md-2">
            <a href='/updateIndividual/<%= go.id %>' class="btn btn-primary" style="float: right;">編輯</a>
          </div>
        </div>

        <tbody>
          <tr>
            <th scope="row">姓名</th>
            <td><%= go.vName %></td>
          </tr>

          <tr>
            <th scope="row">聯絡電話</th>
            <td><%= go.vContact %></td>
          </tr>

          <tr>
            <th scope="row">義工類別</th>
            <td><%= go.vType == 'group' ? '團體': '個人' %></td>
          </tr>

          <tr>
            <th scope="row">所屬團體</th>
            <td><%= go.vGroupName == "" ? '(不適用)' : go.vGroupName %></td>
          </tr>

          <tr>
            <th scope="row">旗站名稱</th>
            <td><%= station.within.length > 0 ? station.within[0].sName: "" %></td>
          </tr>

          <tr>
            <th scope="row">旗袋編號</th>
            <td><%= flagbag[0].bagNumber == "" ? '---' : flagbag[0].bagNumber %></td>
          </tr>

          <tr>
            <th scope="row">旗袋狀態</th>
            <td><%= flagbag[0].bagStatus == "" ? '---' : flagbag[0].bagStatus %></td>
          </tr>


          <tr>
            <th scope="row">QR Code</th>
            <td><%=  flagbag[0].isCodePrinted == false ?  '未列印' : '已列印' %></td>

          </tr>
          <tr>
            <th scope="row">旗袋最後更新時間</th>
            <td><%= flagbag[0].isCodePrinted == false ? '---' : new Date(flagbag[0].updatedAt).toLocaleString() %></td>
          </tr>

          <tr>
            <th scope="row">義工最後更新時間</th>
            <td><%= new Date(go.updatedAt).toLocaleString() %></td>
          </tr>

        </tbody>
      </table>

    </div>

</body>

<style>
  .bordered {
    width: 800;
    height: 800;
    border: 1px solid black;
    border-radius: 5px;
    border-color: powderblue;
  }

  .bordered2 {
    padding: 15px;
    padding-bottom: 1px;
    border: 1px solid gainsboro;
    border-radius: 5px;
  }
</style>