<body>

  <div class="bordered2">
    <h1>旗站</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/management">活動管理</a></li>
        <li class="breadcrumb-item"><a href="/viewitem/<%= eventid %>"><%= name %></a></li>
        <li class="breadcrumb-item active" aria-current="page">旗站</li>
      </ol>
    </nav>
  </div>
  <br>

  <div class="row">

    <div class="col col-sm-2 col-md-2">

      <div class="btn-group-vertical" role="group" aria-label="Basic example">
        <a href="/viewitem/<%= eventid %>" class="btn btn-info" role="button">活動摘要</a>
        <a href="/stationmgrDisplay/<%= eventid %>" class="btn btn-info" role="button">旗站管理員</a>
        <a href="/individual/<%= eventid %>" class="btn btn-info" role="button">個人義工</a>
        <a href="/group/<%= eventid %>" class="btn btn-info" role="button">團體義工</a>
        <a href="/station/<%= eventid %>" class="btn btn-info" role="button">旗站</a>
        <!-- <a href="/eventreport" class="btn btn-info" role="button">活動報告</a> -->
        <a href="/qrCode" class="btn btn-info" role="button">QR Code</a>
      </div>

    </div>

    <div class="col col-sm-10 col-md-10">

      <h2>管理旗站</h2>
      <br>

      <div class="bordered">

        <p class="font-weight-bold" style="background-color:powderblue; padding: 10px; ">匯出旗站（透過Excel）</p>

        <div class="row" style="padding: 20px;">

          <!-- <form action="/import_station" method="post" enctype="multipart/form-data">
            <div class="col-sm-6">
              <p>匯入Excel檔案：</p>
              <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                name="file" />
              <input type="submit" class="btn btn-primary" />
            </div>
          </form> -->

          <div class="col-sm-6">
            <p>以Excel檔案匯出：</p>
            <a href="/export_station" class="btn btn-info">匯出</a>
          </div>

        </div>
      </div>

      <br>

      <h3>旗站列表</h3><a href="/addflagstn" class="btn btn-primary">建立旗站</a>
      <br>
      <table class="table table-bordered">
        <br>
        <thead>
          <tr>
            <!-- <th scope="col">
              選擇旗站
            </th> -->
            <th scope="col">旗站名稱</th>
            <th scope="col">旗站地區</th>
            <!-- <th scope="col">旗袋總數</th> -->
            <th scope="col">後備旗袋</th>
            <th scope="col">編輯</th>
          </tr>
        </thead>

        <tbody>

          <% go.forEach( function(model) { %>
          <tr>
            <!-- <th scope="row">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1"></label>
              </div>
            </th> -->
            <td><%= model.sName %></td>
            <td><%= model.sLocation %></td>
            <!-- <td><%= model.sName %></td> -->
            <td><%= model.numOfSpareBag %></td>
            <td>
              <a href='/updateStation/<%= model.id %>' class="btn btn-primary">編輯</a>
              <!-- <a href='/removeStation/<%= model.id %>' class="btn btn-danger">删除</a> -->
              <button type="submit" class="btn btn-danger" onclick="deleteUser('<%= model.id %>')">刪除</button>
            </td>
            <% }); %>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</body>

<style>
  .bordered {
    width: 800;
    height: 800;
    border: 1px solid black;
    border-radius: 5px;
    border-color: powderblue;
  }

  .bordered2 {
    padding: 15px;
    padding-bottom: 1px;
    border: 1px solid gainsboro;
    border-radius: 5px;
  }
</style>

<script>

async function deleteUser(id) {

var r = confirm("確認刪除旗站?");

if (r) {

  var response = await fetch("/station/" + id, {
    method: "DELETE",
    credentials: 'same-origin',
  });

  if (response.ok) {
    var data = await response.json();
    alert(data.message);
    window.location = data.url;
  } else {
    alert(response.status + ": " + response.statusText);
  }

} else {
  alert("cancelled");
}

};



</script>