<body>

    
    <div class="bordered2">
      <h1>編輯旗站</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/management">活動管理</a></li>
          <li class="breadcrumb-item"><a href="/viewitem/<%= eventid %>"><%= name %></a></li>
          <li class="breadcrumb-item"><a href="/station/<%= eventid %>">旗站</a></li>
          <li class="breadcrumb-item active" aria-current="page">編輯旗站</li>
        </ol>
      </nav>
    </div>

    <br>
  
    <form action="/station/<%= station.id %>" method="POST" onsubmit="createForm(this);return false">
  
      <div class="form-group row">
        <label for="inputsName" class="col-sm-2 col-form-label">旗站名稱</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputsName" name="Station[sName]" value="<%= station.sName %>"
            required>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputsLocation" class="col-sm-2 col-form-label">地區</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputsLocation" name="Station[sLocation]" value="<%= station.sLocation %>"
            required>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputnumOfSpareBag" class="col-sm-2 col-form-label">後備旗袋數目</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="inputnumOfSpareBag" name="Station[numOfSpareBag]" value="<%= station.numOfSpareBag %>"
            required>
        </div>
      </div>
  
      <br>
      <h3>旗站負責人</h3>

      <div class="form-group row">
        <label for="inputEvent" class="col-sm-2 col-form-label">站長名稱</label>
        <div class="col-sm-10">
          <input class="form-control" id="usernames" type="text" name="User[username]" value="<%=station.monitorBy.map(manager => manager.username).join(', ')%>" required/>
        </div>
      </div>

      <div class="form-group row">
          <label for="inputEvent" class="col-sm-2 col-form-label">請選擇站長：</label>
          <div class="col-sm-10">
            <select class="form-control" multiple onchange="document.getElementById('usernames').value += (document.getElementById('usernames').value.length > 0 ? ', ': '') + this.value">
              <% users.forEach( function(model) { %>
              <option value="<%= model.username %>"><%= model.username %></option>
              <% }); %>
            </select>
          </div>
        </div>
  
      
      <button type="submit" class="btn btn-primary" style="float:right;">儲存</button>
      <a href='/station/<%= eventid %>' class="btn btn-danger" style="float:right;">取消</a>
  
    </form>
  
  </body>
  
  <style>
    .bordered2 {
      padding: 15px;
      padding-bottom: 1px;
      border: 1px solid gainsboro;
      border-radius: 5px;
    }
  </style>
  
  <script>
  
    document.querySelector('option[value = "<%= station.username %>"]').selected = "selected";
  
    async function createForm(oFormElement) {
  
      console.log(Array.from(oFormElement).map(input => encodeURIComponent(input.name) + '=' + encodeURIComponent(input.value)).join('&'))
  
      var response = await fetch("/station/<%= station.id %>", {
        method: "PATCH",
        credentials: 'same-origin',
        headers: { 'content-type': 'application/x-www-form-urlencoded' }, //enctype code of form
        //put into array            //map into input and encode                                                         //join it
        body: Array.from(oFormElement).map(input => encodeURIComponent(input.name) + '=' + encodeURIComponent(input.value)).join('&'),
      });
  
  
      if (response.ok) {
        // validatePwd()
        var data = await response.json();   // for res.ok() or res.json()
        alert(data.message);
        window.location = data.url;
        //location.reload(true);
      } else if (response.status == 401) {
        var data = await response.text();   // for res.send()
        alert(data);
      } else {
        alert(response.statusText);
      }
  
    };
  </script>