<body>

  <div class="bordered2">
    <h1>管理活動管理員</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">管理活動管理員</li>
      </ol>
    </nav>
  </div>

  <br>
  <a href="/event/adduser" class="btn btn-primary">新增活動管理員</a>
  <button type="button" class="btn btn-danger">删除</button>

  <br>
  <br>

  <div class="bordered">

    <p class="font-weight-bold" style="background-color:powderblue; padding: 10px; ">匯入及匯出活動管理員資料（透過Excel）</p>

    <div class="row" style="padding: 20px;">

      <form action="/import_user" method="post" enctype="multipart/form-data">
        <div class="col-sm-6">
          <p>匯入Excel檔案：</p>
          <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" name="file" />
          <input type="submit" class="btn btn-primary" />
        </div>
      </form>

      <div class="col-sm-6">
        <p>以Excel檔案匯出：</p>
        <a href="/export_admin" class="btn btn-info">匯出</a>
        <!-- <button type="button" class="btn btn-outline-secondary">匯出</button> -->
      </div>

    </div>
  </div>
  <br>
  <h3>活動管理員列表</h3>
  <table class="table table-bordered">
    <br>
    <thead>
      <tr>
        <th scope="col">
          選擇用戶
        </th>
        <th scope="col">用戶名稱</th>
        <th scope="col">電郵</th>
        <th scope="col">用戶身份</th>
        <th scope="col">動作</th>
      </tr>
    </thead>
    <tbody>

      <% user.forEach( function(model) { %>
      <tr>
        <th scope="row">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1"></label>
          </div>
        </th>
        <td><%= model.username %></td>
        <td><%= model.mail %></td>
        <td><%= model.role %></td>
        <td>
          <!-- <a href='/updateUser/<%= model.id %>' class="btn btn-primary" onclick="deleteUser('<%= model.id %>')">編輯</a>
          <a href='' class="btn btn-danger">刪除</a> -->
          <a href='/updateUser/<%= model.id %>' class="btn btn-primary">編輯</a>
          <button type="submit" class="btn btn-danger" onclick="deleteUser('<%= model.id %>')">刪除</button>
        </td>

        <% }); %>

      </tr>

    </tbody>
  </table>

</body>

<style>
  .bordered {
    width: 800;
    height: 800;
    border: 1px solid black;
    border-radius: 5px;
    border-color: powderblue;
  }

  .bordered2 {
    padding: 15px;
    padding-bottom: 1px;
    border: 1px solid gainsboro;
    border-radius: 5px;
  }
</style>

<script>
  async function deleteUser(id) {

    var r = confirm("確認刪除活動管理員?");

    if (r) {

      var response = await fetch("/user/" + id, {
        method: "DELETE",
        credentials: 'same-origin',
      });

      if (response.ok) {
        var data = await response.json();
        alert(data.message);
        window.location = data.url;
      } else {
        alert(response.status + ": " + response.statusText);
      }

    } else {
      alert("cancelled");
    }

  };
</script>