<body>

  <br>

  <h2>
    <a href="/management">活動管理</a> >
    <a href="/viewitem">First Event</a> > 個人義工</h2>

  <br>

  <div class="bordered">

    <p class="font-weight-bold" style="background-color:powderblue; padding: 10px; ">匯入及匯出</p>

    <div class="row" style="padding: 20px;">

      <form action="/import_event" method="post" enctype="multipart/form-data">
        <div class="col-sm-6">
          <p>匯入Excel檔案：</p>
          <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
          <input type="submit" class="btn btn-primary" />
        </div>
      </form>

      <div class="col-sm-6">
        <p>以Excel檔案匯出：</p>
        <a href="/export_event" class="btn btn-info">匯出</a>
      </div>

    </div>


  </div>

  <br>

  <br>
  <a href="/addIndividual" class="btn btn-primary">建立</a>
  <button type="button" class="btn btn-danger">删除</button>
  <br>

  <table class="table table-bordered">
    <br>
    <thead>
      <tr>
        <th scope="col">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1"></label>
          </div>
        </th>
        <th scope="col">姓名</th>
        <th scope="col">所屬團體</th>
        <th scope="col">旗站位置</th>
        <th scope="col">旗袋編號</th>
        <th scope="col">旗袋狀態</th>
        <th scope="col">旗袋最後更新時間</th>
        <th scope="col">最後列印標籤時間</th>
        <th scope="col">編輯</th>
      </tr>
    </thead>

    <tbody>

      <% webs.forEach( function(model) { %>
        <tr>
          <th scope="row">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1"></label>
            </div>
          </th>
          <td><%= model.vName %></td>
          <td><%= model.vGroupName %></td>
          <td><%= model.sLocation %></td>
          <td><%= model.bagNumber %></td>
          <td><%= model.bagStats %></td>
          <td><%= model.bagUpdate %></td>
          <td><%= model.codePrinted %></td>
          <td><a href='' class="btn btn-primary">編輯</a>
          </td>
          <% }); %>

        </tr>

    </tbody>
  </table>
  <!--table class="table table-bordered">
    <br>

    <thead>
      <tr>
        <th scope="col">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1"></label>
          </div>
        </th>
        <th scope="col">姓名</th>
        <th scope="col">所屬團體</th>
        <th scope="col">旗站位置</th>
        <th scope="col">旗袋編號</th>
        <th scope="col">旗袋狀態</th>
        <th scope="col">旗袋最後更新時間</th>
        <th scope="col">最後列印標籤時間</th>
        <th scope="col">編輯</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th scope="row">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1"></label>
          </div>
        </th>
        <td>Peter Parker</td>
        <td>九龍城浸信會禧年(恩平)小學</td>
        <td>TKO-A1</td>
        <td>FBNO-234</td>
        <td>未收</td>
        <td>20-6-2020 9:18 </td>
        <td>8-5-2020 15:30</td>
        <td><button type="button" class="btn btn-link">編輯</button></td>
      </tr>

      <tr>
        <th scope="row">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1"></label>
          </div>
        </th>
        <td>Tony Stark</td>
        <td>九龍堂宣道小學</td>
        <td>TKO-A2</td>
        <td>FBNO-1234</td>
        <td>未收</td>
        <td>20-6-2020 9:30 </td>
        <td>8-5-2020 15:30</td>
        <td><button type="button" class="btn btn-link">編輯</button></td>
      </tr>

      <tr>
        <th scope="row">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1"></label>
          </div>
        </th>
        <td>田浩二</td>
        <td>九龍堂宣道小學</td>
        <td>TKO-A2</td>
        <td>FBNO-364</td>
        <td>未收</td>
        <td>20-6-2020 9:31 </td>
        <td>8-5-2020 15:31</td>
        <td><button type="button" class="btn btn-link">編輯</button></td>
      </tr>

      <tr>
        <th scope="row">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1"></label>
          </div>
        </th>
        <td>利正赫</td>
        <td>---</td>
        <td>TKO-A3</td>
        <td>FBNO-222</td>
        <td>未收</td>
        <td>20-6-2020 9:05 </td>
        <td>8-5-2020 15:30</td>
        <td><button type="button" class="btn btn-link">編輯</button></td>
      </tr>

      <tr>
        <th scope="row">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1"></label>
          </div>
        </th>
        <td>尹世理</td>
        <td>---</td>
        <td>KT-A1</td>
        <td>FBNO-18</td>
        <td>未收</td>
        <td>20-6-2020 9:45 </td>
        <td>8-5-2020 15:30</td>
        <td><button type="button" class="btn btn-link">編輯</button></td>
      </tr>

    </tbody>
  </table -->

</body>

<style>
  .bordered {
    width: 800;
    height: 800;
    border: 1px solid black;
    border-radius: 5px;
    border-color: powderblue;
  }
</style>