<body>

  <% if(eventid != ""){ %>
  <div class="bordered2">
    <h1>編輯站長</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/management">活動管理</a></li>
        <li class="breadcrumb-item"><a href="/viewitem/<%= eventid %>"><%= name %></a></li>
        <li class="breadcrumb-item"><a href="/stationmgrDisplay/<%= eventid %>">活動使用者</a></li>
        <li class="breadcrumb-item active" aria-current="page">編輯站長</li>
      </ol>
    </nav>
  </div>
  <% } else { %>
  <div class="bordered2">
    <h1>編輯活動管理員</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/adminDisplay">管理活動管理員</a></li>
        <li class="breadcrumb-item active" aria-current="page">編輯活動管理員</li>
      </ol>
    </nav>
  </div>
  <% } %>

  <br>

  <form action="/user/<%= user.id %>" method="POST" onsubmit="createForm(this);return false">

    <div class="form-group row">
      <label for="inputUsername" class="col-sm-2 col-form-label">使用者名稱</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputUsername" name="User[username]" value="<%= user.username %>"
          required>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputUsername" class="col-sm-2 col-form-label">活動使用者身分</label>
      <% if(eventid != ""){ %>
      <div class="col-sm-10">
        <select class="form-control" name="User[role]" required>
          <option value="stationmgr">站長</option>
        </select>
      </div>
      <% } else { %>
      <div class="col-sm-10">
        <select class="form-control" name="User[role]" required>
          <option value="admin">活動管理員</option>
        </select>
      </div>
      <% } %>
    </div>

    <div class="form-group row">
      <label for="inputEmail" class="col-sm-2 col-form-label">電郵</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail" name="User[mail]" value="<%= user.mail %>">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">密碼</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword" name="User[password]"
          value="<%= user.password %>" required>
      </div>
    </div>

    <!-- Request by Kenny -->
    <!-- <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">確認密碼</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="confirmPwd">
        </div>
      </div> -->


    <!-- <button type="button" class="btn btn-success" style="float:right;">儲存</button> -->
    <button type="submit" class="btn btn-primary" style="float:right;">儲存</button>
    <%if (user.role == "admin") { %>
    <a href='/adminDisplay' class="btn btn-danger" style="float:right;">取消</a>
    <% } else { %>
    <a href='/stationmgrDisplay/<%= eventid %>' class="btn btn-danger" style="float:right;">取消</a>
    <% } %>

  </form>

</body>

<style>
  .bordered2 {
    padding: 15px;
    padding-bottom: 1px;
    border: 1px solid gainsboro;
    border-radius: 5px;
  }
</style>

<script>

  document.querySelector('option[value = "<%= user.role %>"]').selected = "selected";


  async function createForm(oFormElement) {

    // Later to be solved
    // function validatePwd() {
    //   var pwd = $("#inputPassword").val
    //   var cpw = $("#confirmPwd").val

    //   if (pwd != cpw) {
    //     alert("Password does not match.")
    //     return false
    //   }

    //   else return true
    // }

    console.log(Array.from(oFormElement).map(input => encodeURIComponent(input.name) + '=' + encodeURIComponent(input.value)).join('&'))

    var response = await fetch("/user/<%= user.id %>", {
      method: "PATCH",
      credentials: 'same-origin',
      headers: { 'content-type': 'application/x-www-form-urlencoded' }, //enctype code of form
      //put into array            //map into input and encode                                                         //join it
      body: Array.from(oFormElement).map(input => encodeURIComponent(input.name) + '=' + encodeURIComponent(input.value)).join('&'),
    });


    if (response.ok) {
      // validatePwd()
      var data = await response.json();   // for res.ok() or res.json()
      alert(data.message);
      window.location = data.url;
      //location.reload(true);
    } else if (response.status == 401) {
      var data = await response.text();   // for res.send()
      alert(data);
    } else {
      alert(response.statusText);
    }

  };
</script>