<title><%= webs.eventName %> - 活動摘要</title>

<body>

    <div class="bordered2">
        <h1>活動摘要</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/management">活動管理</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%= webs.eventName %></li>
                <li class="breadcrumb-item active" aria-current="page">活動摘要</li>
            </ol>
        </nav>
    </div>

    <br>

    <div>
        <div class="row">
            <div class="col col-sm-2 col-md-2">

                <div class="btn-group-vertical" role="group" aria-label="Basic example">
                    <a href="/viewitem/<%= eventid %>" class="btn btn-info" role="button">活動摘要</a>
                    <a href="/stationmgrDisplay/<%= eventid %>" class="btn btn-info" role="button" >旗站管理員</a>
                    <a href="/station/<%= eventid %>" class="btn btn-info" role="button">旗站</a>
                    <a href="/individual/<%= eventid %>" class="btn btn-info" role="button">個人義工</a>
                    <a href="/group/<%= eventid %>" class="btn btn-info" role="button">團體義工</a>
                </div>

            </div>
            <div class="col col-sm-10 col-md-10">
                <table class="table table-bordered">

                    <div class="row">
                        <div class="col-sm-10 col-md-10">
                            <h2>活動資料</h2>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <a href="/updateEvent/<%= eventid %>" class="btn btn-primary" style="float: right;">編輯</a>
                        </div>
                    </div>

                    <tbody>
                        <tr>
                            <th scope="row">活動名稱</th>
                            <td><%= webs.eventName %></td>
                        </tr>
                        <tr>
                            <th scope="row">活動日期</th>
                            <td><%= webs.dateOfEvent %></td>
                        </tr>
                        <tr>
                            <th scope="row">賣旗地點</th>
                            <td><%= webs.eventLocation %></td>
                        </tr>
                        <tr>
                            <th scope="row">旗站數目</th>
                            <td><%= numOfStation %></td>
                        </tr>
                        <tr>
                            <th scope="row">站長人數</th>
                            <td><%= numOfStationmgr %></td>
                        </tr>
                        <tr>
                            <th scope="row">團體總數</th>
                            <td><%= numOfGroup %></td>
                        </tr>
                        <tr>
                            <th scope="row">義工人數</th>
                            <td><%= numOfVol %></td>
                        </tr>
                        <tr>
                            <th scope="row">後備旗袋總數</th>
                            <td><%= numOfSpareBag %></td>
                        </tr>
                        <tr>
                            <th scope="row">旗袋總數</th>
                            <td><%= (numOfVol + numOfSpareBag)  %></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</body>

<style>
    .bordered2 {
        padding: 15px;
        padding-bottom: 1px;
        border: 1px solid gainsboro;
        border-radius: 5px;
    }
</style>