<body>
    <br>
    <h2><a href="/management">活動管理</a> > <%= webs.eventName %></h2>

    <br>

    <div>
        <div class="row">
            <div class="col col-sm-2 col-md-2">
                <a class="nav-link active" href="/viewitem/<%= eventid %>">活動摘要</a>
                <a class="nav-link active" href="/stationmgrDisplay/<%= eventid %>">活動使用者</a>
                <a class="nav-link active" href="/individual">個人義工</a>
                <a class="nav-link active" href="/group">團體義工</a>
                <a class="nav-link active" href="/station">旗站</a>
                <a class="nav-link active" href="/eventreport">活動報告</a>
                <a class="nav-link active" href="/qrCode">QR Code</a>
            </div>
            <div class="col col-sm-10 col-md-10">
                <table class="table table-bordered">
                    <h2>活動資料</h2>
                    <tbody>
                        <tr>
                            <th scope="row">活動名稱</th>
                            <td><%= webs.eventName %></td>
                        </tr>
                        <tr>
                            <th scope="row">活動日期</th>
                            <td><%= webs.dateOfEvent %></td>
                        </tr>
                        <tr>
                            <th scope="row">賣旗地點</th>
                            <td><%= webs.eventLocation %></td>
                        </tr>
                        <tr>
                            <th scope="row">旗站數目</th>
                            <td><%= webs.numOfStation %></td>
                        </tr>
                        <tr>
                            <th scope="row">旗袋總數</th>
                            <td><%= webs.numOfEBag %></td>
                        </tr>
                        <!-- <tr>
                            <th scope="row">站長人數</th>
                            <td><%= webs.eventName %></td>
                        </tr> -->
                        <tr>
                            <th scope="row">義工人數</th>
                            <td><%= webs.numOfV %></td>
                        </tr>
                    </tbody>
                  </table>
                  <a href="/viewitem/<%= eventid %>" class="btn btn-info" style="float: left;">編輯</a>
                </div>
            </div>
    </div>

</body>